<div class="container" style="margin-top: 3%">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <div class="text-center">
                    <h2>Edit user</h2>
                </div>
                <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="form-group"
                         [ngClass]="{'has-error':
                    (!userForm.controls['firstName'].valid ) &&
                    (userForm.controls['firstName'].touched || submitted)}">
                        <label for="firstName">
                            First name
                        </label>
                        <input
                                type="text"
                                id="firstName"
                                class="form-control"
                                [formControl]="userForm.controls['firstName']">
                        <div class="field-error"
                             *ngIf="(userForm.controls['firstName'].hasError('required')) &&
                        (userForm.controls['firstName'].touched || submitted)">
                            Field is required.
                        </div>
                        <div class="field-error"
                             *ngIf="(userForm.controls['firstName'].hasError('maxlength')) &&
                        (userForm.controls['firstName'].touched || submitted)">
                            Field can have max 100 characters.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error':
                    (!userForm.controls['lastName'].valid) &&
                    (userForm.controls['lastName'].touched || submitted)}">
                        <label for="lastName">
                            Last name
                        </label>
                        <input
                                type="text"
                                id="lastName"
                                class="form-control"
                                [formControl]="userForm.controls['lastName']">
                        <div class="field-error"
                             *ngIf="(userForm.controls['lastName'].hasError('required')) &&
                        (userForm.controls['lastName'].touched || submitted)">
                            Field is required.
                        </div>
                        <div class="field-error"
                             *ngIf="(userForm.controls['lastName'].hasError('maxlength')) &&
                        (userForm.controls['lastName'].touched || submitted)">
                            Field can have max 100 characters.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error':
                !userForm.controls['email'].valid &&
                (userForm.controls['email'].touched || submitted)}">
                        <label for="email">
                            Email address
                        </label>
                        <input
                                type="email"
                                id="email"
                                class="form-control"
                                [formControl]="userForm.controls['email']">
                        <div class="field-error"
                             *ngIf="!userForm.controls['email'].valid &&
                    (userForm.controls['email'].touched || submitted)">
                            Email has to be valid e.g. john@gmail.com.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role">
                            Role
                        </label>
                        <div *ngFor="let role of roles">
                            <input
                                    type="radio"
                                    id="role"
                                    name="role"
                                    (click)="getValue(role)"
                                    [checked]="role == selectedRole"
                                    value={{role}}>{{role}}
                        </div>
                    </div>
                    <form *ngIf="passwordForm" [formGroup]="passwordForm" >
                        <div class="form-group"
                             [ngClass]="{'has-error':
                            (!passwordForm.controls['password'].valid ) &&
                            (passwordForm.controls['password'].touched || submitted)}">
                            <label for="password">
                                Confirm your password
                            </label>
                            <input
                                    type="password"
                                    id="password"
                                    class="form-control"
                                    [formControl]="passwordForm.controls['password']">
                            <div class="field-error"
                                 *ngIf="(passwordForm.controls['password'].hasError('required')) &&
                                (passwordForm.controls['password'].touched || submitted)">
                                Field is required.
                            </div>
                        </div>
                    </form>
                    <div align="right">
                        <button
                                class="btn btn-primary style-1"
                                type="submit">
                            Save
                        </button>
                        <button
                                class="btn btn-primary style-2"
                                (click)="onCancel()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>