<div *ngIf="user" class="col-md-6 col-md-offset-2">
    <router-outlet></router-outlet>

    <article class="panel panel-default">
        <div class="panel-body">
            <b>First name</b>
        </div>
        <footer class="panel-footer">
            {{ user.firstName }}
        </footer>
        <div class="panel-body">
            <b>Last name</b>
        </div>
        <footer class="panel-footer">
            {{ user.lastName }}
        </footer>
        <div class="panel-body">
            <b>Mail</b>
        </div>
        <footer class="panel-footer">
            {{ user.email }}
        </footer>
    </article>
    <button class="btn btn-info" [routerLink]="['/profile/edit']">Edit profile</button>
    <button class="btn btn-danger" [routerLink]="['/profile/editpass']">Change password</button>
</div>