<div class="col-md-8 col-md-offset-2">
    <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input
                            type="text"
                            id="firstName"
                            class="form-control"
                            formControlName="firstName"
                            required>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input
                            type="text"
                            id="lastName"
                            class="form-control"
                            formControlName="lastName"
                            required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Save</button>
                <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
            </div>
        </div>
    </form>
</div>