<button id="openModalDelete" [hidden]="true" data-toggle="modal" data-target="#deleteUser"></button>

<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center; padding: 5% 0 5% 0">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12" style="margin-top: 3%">
    <div>
        <button type="button"
                class="btn btn-primary btn-xs"
                (click)="onImportIntoCsvFile()">
        <span class="glyphicon glyphicon-file"></span>&nbsp;Download as CSV
        </button>
    </div>
    <div *ngIf="users">
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email address</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | orderBy : ['lastName', 'firstName']; let i = index">
                    <td>{{ i + 1 }} </td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td *ngIf="!isMe(user)" class="btn-group" style="vertical-align: middle; border: none;">
                        <button
                                class="btn btn-info btn-xs"
                                title="Edit profile"
                                [routerLink]="['/users/edit', user.userId]">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Profile
                        </button>
                        <button
                                class="btn btn-primary btn-xs"
                                title="Change password"
                                [routerLink]="['/users/editpass', user.userId]">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Password
                        </button>
                        <button
                                class="btn btn-danger btn-xs"
                                title="Delete"
                                (click)="onDelete(user)">
                            <span class="glyphicon glyphicon-trash">&nbsp;User</span>
                        </button>
                    </td>
                    <td *ngIf="isMe(user)" class="btn-group" style="vertical-align: middle; border: none;">
                        <button
                                class="btn btn-info btn-xs"
                                title="Edit profile"
                                [routerLink]="['/profile/edit']">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Profile
                        </button>
                        <button
                                class="btn btn-primary btn-xs"
                                title="Change password"
                                [routerLink]="['/profile/editpass']">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;Password
                        </button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>