<div *ngIf="users" class="col-md-8 col-md-offset-2">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }} </td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <button class="btn btn-danger btn-xs" (click)="onDelete(user)">
                Delete
            </button>
        </tr>
        </tbody>
    </table>
</div>
