<div class="container" style="margin-top: 3%">
    <div class="row">
        <div>
            <button type="button"
                    class="btn btn-primary btn-xs"
                    title="Send email to all users"
                    (click)="onShowEmailForm()">
            <span class="glyphicon glyphicon-envelope"></span>&nbsp;Send email
            </button>
        </div>
        <button id="openEmailForm" [hidden]="true" data-toggle="modal" data-target="#emailForm"></button>
        <div class="modal fade" id="emailForm" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Email</h4>
                    </div>
                    <div class="modal-body">
                        <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <div class="form-group"
                                 [ngClass]="{'has-error':
                                (!myForm.controls['subject'].valid ) &&
                                (myForm.controls['subject'].touched || isSubmitted())}">
                                <label for="subject">
                                    Subject
                                </label>
                                <input
                                        type="text"
                                        id="subject"
                                        class="form-control"
                                        [formControl]="myForm.controls['subject']">
                                <div class="field-error"
                                     *ngIf="myForm.controls['subject'].hasError('required') &&
                                    (myForm.controls['subject'].touched || isSubmitted())">
                                    Field is required.
                                </div>
                                <div class="field-error"
                                     *ngIf="myForm.controls['subject'].hasError('maxlength') &&
                                    (myForm.controls['subject'].touched || isSubmitted())">
                                    Field can have max 100 characters.
                                </div>
                            </div>
                            <div class="form-group"
                                    [ngClass]="{'has-error':
                                    (!myForm.controls['content'].valid ) &&
                                    (myForm.controls['content'].touched || isSubmitted())}">
                                <label for="content">
                                    Content
                                </label>
                                <textarea
                                        id="content"
                                        class="form-control"
                                        [formControl]="myForm.controls['content']"></textarea>
                                <div class="field-error"
                                     *ngIf="myForm.controls['content'].hasError('required') &&
                                    (myForm.controls['content'].touched || isSubmitted())">
                                    Field is required.
                                </div>
                                <div class="field-error"
                                     *ngIf="myForm.controls['content'].hasError('maxlength') &&
                                    (myForm.controls['content'].touched || isSubmitted())">
                                    Field can have max 1000 characters.
                                </div>
                                </div>
                            <div align="right">
                                <button type="submit" class="btn btn-primary">Send</button>
                                <button id="hideEmailForm" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="users" class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email address</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | orderBy : ['lastName', 'firstName']; let i = index">
                        <td>{{ i + 1 }} </td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td *ngIf="!isMe(user)"class="btn-group" style="vertical-align: middle; border: none;">
                            <button
                                    class="btn btn-info btn-xs"
                                    title="Edit profile"
                                    [routerLink]="['/#users/edit']"
                                    [queryParams]="{userId: user.userId}">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Profile
                            </button>
                            <button
                                    class="btn btn-primary btn-xs"
                                    title="Change password"
                                    [routerLink]="['/#users/editpass']"
                                    [queryParams]="{userId: user.userId}">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Password
                            </button>
                            <button
                                    class="btn btn-danger btn-xs"
                                    title="Delete"
                                    (click)="onDelete(user)">
                                <span class="glyphicon glyphicon-trash">&nbsp;User</span>
                            </button>
                        </td>
                        <td *ngIf="isMe(user)"class="btn-group" style="vertical-align: middle; border: none;">
                            <button
                                    class="btn btn-info btn-xs"
                                    title="Edit profile"
                                    [routerLink]="['/#profile/edit']"
                                    [queryParams]="{userId: user.userId}">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Profile
                            </button>
                            <button
                                    class="btn btn-primary btn-xs"
                                    title="Change password"
                                    [routerLink]="['/#profile/editpass']"
                                    [queryParams]="{userId: user.userId}">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Password
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>