body {
  padding: 50px 10px 50px 10px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.field-error {
  color: #c9183f;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 3px;
}

.results{
  font-size: 13px;
}

.grayOutDiv
{
  background-color: #333;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
}

.flash-message
{
  text-align: center;
  width:30%;
  height:20%;
  padding-top: 3%;
  margin-top: -7%; /*set to a negative number 1/2 of your height*/
  margin-left: -15%; /*set to a negative number 1/2 of your width*/
  top: 50%;
  left: 50%;
  z-index: 10000;
  position: fixed;
}

.table-borderless td,
.table-borderless th {
  border:none !important
}

.paper {
  background-color: whitesmoke;
  text-align: left;
}
