<div *ngIf="solutions" [ngStyle]="{'display': display}">
    <h4>My solutions for the same instance with the same technique
        <strong>{{ solutions[0].technique }}</strong>
        but with worse quality:</h4>

    <div class="solutions">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Unassigned Variables</th>
                <th>Total Cost</th>
                <th>Student Conflicts</th>
                <th>Time Preferences</th>
                <th>Room Preferences</th>
                <th>Distribution Preferences</th>
                <th>Submission time</th>
            </tr>
            </thead>
            <tbody *ngFor="let solution of solutions">
            <tr>
                <td><input type="checkbox" [(ngModel)]="solution.isChecked"></td>
                <td>{{ solution.unassigned }}&nbsp;%</td>
                <td>{{ solution.total }}</td>
                <td>{{ solution.sc }}&nbsp;%</td>
                <td>{{ solution.time }}&nbsp;%</td>
                <td>{{ solution.room }}&nbsp;%</td>
                <td>{{ solution.distr }}&nbsp;%</td>
                <td>{{ solution.postDate | date }}</td>
            </tr>
            </tbody>
        </table>
        <div align="right">
            <button
                    class="btn btn-danger"
                    (click)="onDeleteSelected()">
                Delete selected
            </button>
            <button
                    class="btn btn-default"
                    (click)="onDeleteNone()">
                Delete none
            </button>
        </div>
    </div>
</div>
