<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="jumbotron">
            <div class="text-center">
                <h2>Login</h2>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                            type="email"
                            id="email"
                            class="form-control"
                            formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            class="form-control"
                            formControlName="password">
                </div>
                <div align="right">
                    <button
                            class="btn btn-primary"
                            type="submit">
                        Log in
                    </button>
                </div>
            </form>
            <div>
                <a>Forgot your password?</a>
            </div>
        </div>
    </div>
</div>