<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="jumbotron">
            <div class="text-center">
                <h2>Create instance</h2>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group"
                     [ngClass]="{'has-error':
                        (!myForm.controls['order'].valid ) &&
                        (myForm.controls['order'].touched || isSubmitted())}">
                    <label for="order">
                        Order
                    </label>
                    <input
                            type="number"
                            id="order"
                            class="form-control"
                            [formControl]="myForm.controls['order']">
                    <div class="field-error"
                         *ngIf="!myForm.controls['order'].valid &&
                            (myForm.controls['order'].touched || isSubmitted())">
                        Minimum value is 1.
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error':
                        (!myForm.controls['name'].valid ) &&
                        (myForm.controls['name'].touched || isSubmitted())}">
                    <label for="name">
                        Name
                    </label>
                    <input
                            type="text"
                            id="name"
                            class="form-control"
                            [formControl]="myForm.controls['name']">
                    <div class="field-error"
                         *ngIf="(myForm.controls['name'].hasError('required')) &&
                            (myForm.controls['name'].touched || isSubmitted())">
                        Field is required.
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error':
                        (!myForm.controls['description'].valid ) &&
                        (myForm.controls['description'].touched || isSubmitted())}">
                    <label for="name">
                        Description
                    </label>
                    <input
                            type="text"
                            id="description"
                            class="form-control"
                            [formControl]="myForm.controls['description']">
                    <div class="field-error"
                         *ngIf="(myForm.controls['description'].hasError('required')) &&
                            (myForm.controls['description'].touched || isSubmitted())">
                        Field is required.
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': isStatsInvalid()}">
                    <label for="stats">
                        Stats
                    </label>
                    <input
                            #stats
                            type="file"
                            id="stats">
                    <div class="field-error" *ngIf="isStatsInvalid()">
                        Field is required.
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': isDataInvalid()}">
                    <label for="data">
                        Data
                    </label>
                    <input
                            #data
                            type="file"
                            id="data">
                    <div class="field-error" *ngIf="isDataInvalid()">
                        Field is required.
                    </div>
                </div>
                <div align="right">
                    <button
                            class="btn btn-primary align-right"
                            type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>