<div class="container" style="margin-top: 3%">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <div class="text-center">
                    <h2>Create instance</h2>
                </div>
                <form [formGroup]="instanceForm" (ngSubmit)="onSubmit()">
                    <div class="form-group"
                         [ngClass]="{'has-error':
                        (!instanceForm.controls['order'].valid ) &&
                        (instanceForm.controls['order'].touched || submitted)}">
                        <label for="order">
                            Order
                        </label>
                        <input
                                type="number"
                                id="order"
                                class="form-control"
                                [formControl]="instanceForm.controls['order']">
                        <div class="field-error"
                             *ngIf="!instanceForm.controls['order'].valid &&
                            (instanceForm.controls['order'].touched || submitted)">
                            Minimum value is 1.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error':
                        (!instanceForm.controls['name'].valid ) &&
                        (instanceForm.controls['name'].touched || submitted)}">
                        <label for="name">
                            Name
                        </label>
                        <input
                                type="text"
                                id="name"
                                class="form-control"
                                [formControl]="instanceForm.controls['name']">
                        <div class="field-error"
                             *ngIf="(instanceForm.controls['name'].hasError('required')) &&
                            (instanceForm.controls['name'].touched || submitted)">
                            Field is required.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error':
                        (!instanceForm.controls['description'].valid ) &&
                        (instanceForm.controls['description'].touched || submitted)}">
                        <label for="name">
                            Description
                        </label>
                        <input
                                type="text"
                                id="description"
                                class="form-control"
                                [formControl]="instanceForm.controls['description']">
                        <div class="field-error"
                             *ngIf="(instanceForm.controls['description'].hasError('required')) &&
                            (instanceForm.controls['description'].touched || submitted)">
                            Field is required.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error': statusInvalid}">
                        <label for="status">
                            Status
                        </label>
                        <input
                                #status
                                type="file"
                                id="status">
                        <div class="field-error" *ngIf="statusInvalid">
                            Field is required.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error': dataInvalid}">
                        <label for="data">
                            Data
                        </label>
                        <input
                                #data
                                type="file"
                                id="data">
                        <div class="field-error" *ngIf="dataInvalid">
                            Field is required.
                        </div>
                    </div>
                    <div align="right">
                        <button
                                class="btn btn-primary align-right"
                                type="submit">
                            Save
                        </button>
                        <button
                                class="btn btn-default align-right"
                                (click)="onCancel()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>