<div class="container" style="margin-top: 3%">
    <div class="row">
        <button id="openEmailForm" [hidden]="true" data-toggle="modal" data-target="#emailForm"></button>
        <div class="modal fade" id="emailForm" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Email</h4>
                    </div>
                    <div class="modal-body">
                        <form *ngIf="emailForm" [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
                            <div class="form-group"
                                 [ngClass]="{'has-error':
                                    (!emailForm.controls['email'].valid ) &&
                                    (emailForm.controls['email'].touched || submittedEmailForm)}">
                                <label for="emailToSendPass">Email address</label>
                                <input
                                        type="email"
                                        id="emailToSendPass"
                                        class="form-control"
                                        [formControl]="emailForm.controls['email']">
                                <div class="field-error"
                                     *ngIf="!emailForm.controls['email'].valid &&
                                    (emailForm.controls['email'].touched || submittedEmailForm)">
                                    Email has to be valid e.g. john@gmail.com.
                                </div>
                            </div>
                            <div align="right">
                                <button type="submit" class="btn btn-primary">Send</button>
                                <button id="hideEmailForm" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <div class="text-center">
                    <h2>Log in</h2>
                </div>
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                    <div class="form-group"
                         [ngClass]="{'has-error':
                        (!signinForm.controls['email'].valid ) &&
                        (signinForm.controls['email'].touched || submittedForm)}">
                        <label for="email">Email address</label>
                        <input
                                type="email"
                                id="email"
                                class="form-control"
                                [formControl]="signinForm.controls['email']">
                        <div class="field-error"
                             *ngIf="!signinForm.controls['email'].valid &&
                            (signinForm.controls['email'].touched || submittedForm)">
                            Email has to be valid e.g. john@gmail.com.
                        </div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{'has-error':
                        (!signinForm.controls['password'].valid ) &&
                        (signinForm.controls['password'].touched || submittedForm)}">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                [formControl]="signinForm.controls['password']">
                        <div class="field-error"
                             *ngIf="signinForm.controls['password'].hasError('required') &&
                            (signinForm.controls['password'].touched || submittedForm)">
                            Field is required.
                        </div>
                    </div>
                    <div align="right">
                        <button
                                class="btn btn-primary"
                                type="submit">
                            Log in
                        </button>
                    </div>
                </form>
                <div style="padding-top: 2%">
                    <a [routerLink]="['/signup']">Create account</a>
                    &nbsp;
                    <a type="button" (click)="onShowForm()">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>