<button id="openModalNotView" [hidden]="true" data-toggle="modal" data-target="#notViewInstances"></button>

<div class="modal fade" id="notViewInstances" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center; padding: 5% 0 5% 0">
                You must be registered and logged in to display instances.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['/#signin']">Log in</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3%">
    <div class="row">
        <div *ngIf="isAdmin()">
            <button
                    class="btn btn-success btn-xs"
                    [routerLink]="['/#instances/create']">Add instance</button>
        </div>
        <div *ngIf="showInstances()">
            <app-instance-list></app-instance-list>
        </div>
    </div>
</div>
