<div *ngIf="isAdmin()">
    <div class="row">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="col-md-6">
                <div class="form-group">
                    <input
                            type="text"
                            id="name"
                            class="form-control"
                            formControlName="name"
                            placeholder="Name">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <button
                            class="btn btn-success btn-s"
                            type="submit"
                            [disabled]="!myForm.valid">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add instance group
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>