<table class="table">
    <tbody>
        <tr>
            <td>{{ instance.name }}</td>
            <td>{{ instance.description }}</td>
            <td><a (click)="onView">view</a></td>
            <td>{{ instance.postDate }}</td>
            <td><a (click)="onDownload">download</a></td>
            <td><button class="btn btn-info" [routerLink]="['/#instances/edit']">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDelete()">Delete</button></td>
        </tr>
    </tbody>
</table>
