<div *ngIf="instances" class="col-xs-12">
        <table class="table">
                <thead>
                        <tr>
                                <th><div *ngIf="isAdmin()">Order</div></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Post date</th>
                                <th>Download</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let instance of instances | orderBy : 'order' ">
                                <td><div *ngIf="isAdmin()">{{ instance.order }}</div></td>
                                <td>{{ instance.name }}</td>
                                <td>{{ instance.description }}</td>
                                <td><button
                                        type="button"
                                        class="btn btn-primary btn-xs"
                                        title="View"
                                        [routerLink]="['/#instances/stats']"
                                        [queryParams]="{instanceId: instance.instanceId}">
                                        <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </td>
                                <td>{{ instance.postDate | date }}</td>
                                <td>
                                        <button type="button" class="btn btn-success btn-xs" (click)="onDownload(instance)" title="Download">
                                                <i class="glyphicon glyphicon-download-alt"></i>
                                        </button>
                                </td>
                                <td class="btn-group" style="vertical-align: middle; border: none">
                                        <button
                                                *ngIf="isAdmin()"
                                                class="btn btn-info btn-xs"
                                                title="Edit"
                                                [routerLink]="['/#instances/edit']"
                                                [queryParams]="{instanceId: instance.instanceId}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button
                                                *ngIf="isAdmin()"
                                                class="btn btn-danger btn-xs"
                                                title="Delete"
                                                (click)="onDelete(instance)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>