<div *ngIf="instances" class="col-xs-12">
        <table class="table">
                <thead>
                        <tr>
                                <th><div *ngIf="isAdmin()">Order</div></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Post date</th>
                                <th>Download</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let instance of instances | orderBy : 'order' ">
                                <td><div *ngIf="isAdmin()">{{ instance.order }}</div></td>
                                <td>{{ instance.name }}</td>
                                <td>{{ instance.description }}</td>
                                <td><a
                                        [routerLink]="['/#instances/stats']"
                                        [queryParams]="{instanceId: instance.instanceId}">view</a></td>
                                <td>{{ instance.postDate | date}}</td>
                                <td><a (click)="onDownload(instance)">download</a></td>
                                <td class="btn-group" style="vertical-align: middle; border: none">
                                        <button
                                                *ngIf="isAdmin()"
                                                class="btn btn-info btn-xs"
                                                [routerLink]="['/#instances/edit']"
                                                [queryParams]="{instanceId: instance.instanceId}">
                                                Edit
                                        </button>
                                        <button
                                                *ngIf="isAdmin()"
                                                class="btn btn-danger btn-xs"
                                                (click)="onDelete(instance)">
                                                Delete
                                        </button>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>